{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>
<p>Bienvenido al sistema de gestión de estacionamiento</p>

<div class="row mt-4">

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Total espacios</h6>
<h2>48</h2>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Espacios disponibles</h6>
<h2>18</h2>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Espacios ocupados</h6>
<h2>11</h2>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Vehículos hoy</h6>
<h2>5</h2>
</div>
</div>

</div>

<hr class="mt-5">

<h4>Visualización de Estacionamiento</h4>

<div class="d-flex flex-wrap">

<div class="parking-slot ocupado">1</div>
<div class="parking-slot reservado">2</div>
<div class="parking-slot reservado">3</div>
<div class="parking-slot reservado">4</div>
<div class="parking-slot disponible">5</div>
<div class="parking-slot ocupado">6</div>
<div class="parking-slot disponible">7</div>
<div class="parking-slot reservado">8</div>

</div>

{% endblock %}