{% extends "base.html" %}

{% block title %}
Ingreso de Vehículo
{% endblock %}

{% block extra_css %}

<style>

.title{
    text-align:center;
    font-size:28px;
    margin-bottom:30px;
}

.form-container{
    background:white;
    width:400px;
    margin:auto;
    padding:30px;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

label{
    font-weight:bold;
}

input, select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#1e3a8a;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}

/* MENSAJES */

.mensaje{
    padding:12px;
    border-radius:6px;
    margin-bottom:20px;
    font-weight:500;
}

.mensaje-error{
    background:#fee2e2;
    color:#991b1b;
    border-left:5px solid #dc2626;
}

.mensaje-exito{
    background:#dcfce7;
    color:#166534;
    border-left:5px solid #22c55e;
}

</style>

{% endblock %}

{% block content %}

<div class="title">
Registrar Ingreso de Vehículo
</div>

<div class="form-container">

<!-- MENSAJES DEL SISTEMA -->

{% if messages %}
    {% for message in messages %}

        <div class="mensaje 
        {% if message.tags == 'error' %}mensaje-error{% endif %}
        {% if message.tags == 'success' %}mensaje-exito{% endif %}
        ">
            {{ message }}
        </div>

    {% endfor %}
{% endif %}

<form method="POST">

{% csrf_token %}

<label>Placa</label>
<input type="text" name="placa" required>

<label>Tipo de vehículo</label>

<select name="tipo_vehiculo">
<option value="Carro">Carro</option>
<option value="Moto">Moto</option>
<option value="Camioneta">Camioneta</option>
</select>

<button type="submit">
Registrar Vehículo
</button>

</form>

</div>

{% endblock %}
